<!DOCTYPE html>
<html>
  <head>
    <title>Birthday</title>
  </head>
<body>

<h1>Hello there!</h1>

<section class="name input">

<h2>What's your name?</h2>
  <input type="text" name="name" id="name">
</section>

<hr>

<section class="birthday input">

<h2>When's your birthday?</h2>
  <label for="day">day:</label>
  <input type="number" name="day" id="day">

  <label for="month">month:</label>
    <select name="month" id="month">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
</section>

<hr>

<section class="submit">
  <input type="submit" value="Submit">
</section>

</body>
</html>
